<label>
  {% if attribute %}
    {{ attribute.translations[0].title }}:
  {% endif %}
  <select name="{{ field|join('.') }}">
    <option value="">{{ attribute.hint }}</option>
    <option value="1">yes</option>
    <option value="0">no</option>
  </select>
</label>