<div class="slide-drop">
  <a href="#" class="opener"><span>Стоимость</span><i class="icon-arrow-down-small"></i></a>

  <div class="slide-holder">
    <div class="slide-frame">
      <div class="frame">
        <div class="value-range">
          <input type="text">

          <div class="divider"></div>
          <input type="text">
          <span class="currency">грн</span>
        </div>
        <a href="#" class="btn-small">Применить</a>
      </div>
      <ul class="value-list">
        <li><a href="#">До <b>100 000</b> грн</a></li>
        <li><a href="#"><b>100 000</b> – <b>250 000</b> грн</a></li>
        <li><a href="#"><b>250 000</b> – <b>500 000</b> грн</a></li>
        <li><a href="#"><b>500 000</b> грн – <b>750 000</b> грн</a></li>
        <li><a href="#">Больше <b>750 000</b> грн</a></li>
      </ul>
    </div>
  </div>
</div>