<a href="#attribute-{{ model.id }}" class="edit">
  {% if model.discr == 'textarea' %}
    <i class="fa fa-book"></i>
  {% endif %}
  {% if model.discr == 'select' %}
    <i class="fa fa-level-down"></i>
  {% endif %}
  {% if model.discr == 'numeric' %}
    <i class="fa fa-plus"></i>
  {% endif %}
  {% if model.discr == 'input' %}
    <i class="fa fa-pencil-square-o"></i>
  {% endif %}
  {% if model.discr == 'boolean' %}
    <i class="fa fa-check"></i>
  {% endif %}
  {% if model.discr == 'date' %}
    <i class="fa fa-clock-o"></i>
  {% endif %}
  {% if model.discr == 'location' %}
    <i class="fa fa-map-marker"></i>
  {% endif %}
  {{ title }}

  <small>#{{ model.id }}</small>
</a>
<a href="#attribute-remove-{{ id }}" class="remove"><i class="fa fa-times"></i></a>
