<a href="#group-{{ id }}" class="edit">
  <i class="fa fa-tags"></i>
  {{ model.title }}
  <small>#{{ model.id }}</small>
</a>
<a href="#group-remove-{{ model.id }}" class="remove"><i class="fa fa-times"></i></a>
