<div class="row border-bottom">
    <input type="button"
           value="После внесения изменений нажмите сюда чтобы изменения стали доступны на листинге."
           class="btn btn-danger dt-populate-indexes form-control"/>
    <div style="
            color: #000000;
            margin: auto;
            padding: 0.3em;
            background-color: #b8f5b5;
            text-align: center;
            font-size: 0.75em;
            letter-spacing: 1px;
            " hidden class="dt-success-message">
        Успех! Изменения внесены.
    </div>
    <div style="
    color: #000000;
    margin: auto;
    padding: 0.3em;
    background-color: #f5b6a9;
    text-align: center;
    font-size: 0.75em;
    letter-spacing: 1px;
    " hidden class="dt-error-message">
        Возникла ошибка. Изменения не внесены.
    </div>
</div>